body {
    color: white;
    background: black;
}
#quote-box {
    background-color: blue;
    width: 60%;
    margin: auto;
    margin-top: 15%;
    border-style: solid;
    border-radius: 20px;
    height: 80%;
}
#quote-text {
    padding-top: 2%;
    font-size: 2em;
}
#quote-author {
    font-size: 1em;
}
.buttons {
    padding-top: 2%; 
    padding-bottom: 2%;
}
