#quote-box {
    background-color: blue;
    width: 30%;
    margin: auto;
    padding: 100px;
    border-style: solid;
    border-radius: 20px;
    height: auto;
}
#quote-text {
    font-size: 50px;
}
#quote-author {
    font-size: 20px;
}
